:root {

    --bkg: url("images/BlackBrickBackground.jpg");
    --TM_bkg: url("images/PaintSeamlessToolMenuBackground.jpg");
    --TM_paint: url("images/IconPaintbrush.png");
    --TM_eraser: url("images/IconEraser.svg");
    --TM_rect: url("images/IconRect.png");
    --TM_circ: url("images/IconCirc.png");
    --TM_colorPicker: url("images/IconColorPicker.jpg");
    --TM_download: url("images/IconDownload.png");


    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(255, 191, 71);
    background: black var(--bkg);
}



/* /////////////////// TOOLMENU /////////////////// */

.tools {
    height: 80px;
    margin: 10px;
    background-color: white;
    border: 4px solid grey;
    font-family: Arial, monospace;
    cursor: pointer;
}

::-webkit-scrollbar { 
    width: 6px; 
} 
::-webkit-scrollbar-track { 
    background: mediumpurple;
    border-radius: 5px; 
} 
::-webkit-scrollbar-thumb { 
    background: black; 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover { 
    background: #555; 
} 

#toolMenuContainer_Positioner {
    position: relative;
    width: 0px; height: 0px;
    left: 0; top: 0;
    z-index: 2;
    user-select: none;
    pointer-events: none;
}
#toolMenuContainer {
    position: fixed;
    width: 250px; height: 100%;
    top: 0; left: 0;
}
#toolMenu {
    position: fixed;
    width: 0; height: 100%;
    top: 0; left: 0;
    background: black var(--TM_bkg);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.8s;
    display: grid;
    align-items: center;
    grid-template-columns: 125px 125px;
    grid-template-areas:
        "paint erase"
        "rect circ"
        "lineSize lineSize"
        "shapeMod colorPicker"
        "clear clear"
        "download download";
}
#toolMenuCloseBtn {
    position: absolute;
    z-index: 3;
    pointer-events: auto;
    cursor: pointer;
    top: 0; left: -45px;
    transition: 0.8s;
    color: mediumpurple;
    font-family: Arial, monospace;
    font-size: 19px;
    font-weight: bold;
    padding: 8px 13px 8px 13px;
    border: none;
    outline: none;
    background: white;
    background-size: 400%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

#paintTool {
    grid-area: paint;
    background: white var(--TM_paint) no-repeat;
    background-size: 90%;
    background-position: center center;
}
#eraseTool {
    grid-area: erase;
    background: white var(--TM_eraser) no-repeat;
    background-size: 70%;
    background-position: center center;

}
#rectTool {
    grid-area: rect;
    background: white var(--TM_rect) no-repeat;
    background-size: 90%;
    background-position: center center;
}
#circTool {
    grid-area: circ;
    background: white var(--TM_circ) no-repeat;
    background-size: 60%;
    background-position: center center;
}
#lineSizeTool {
    grid-area: lineSize;
    height: 80%;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#shapeModificationTool {
    grid-area: shapeMod;
    padding-left: 5px;
    line-height: 4px;
}
#colorPicker {
    grid-area: colorPicker;
    background: white var(--TM_colorPicker) no-repeat;
    background-size: 85%;
    background-position: center center;
}
#clearTool {
    grid-area: clear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, monospace;
    font-size: 40px;
    font-weight: bold;
}
#downloadTool {
    grid-area: download;
    background: white var(--TM_download) no-repeat;
    background-size: 40%;
    background-position: center center;
}


/* /////////////////// TOOLMENU /////////////////// */



/* /////////////////// TOOLMENU OPEN BUTTONS /////////////////// */

#toolMenuOpenBtn_Positioner {
    position: relative;
    width: 0; height: 0;
    left: 15px; top: 15px;
    user-select: none;
}

#toolMenuOpenBtn {
    position: absolute;
    width: 120px; height: 40px;
    z-index: 1;
    color: white;
    font-family: Arial, monospace;
    font-size: 19px;
    font-weight: bold;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #c4f441, #03a9f4);
    background-size: 400%;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}
#toolMenuOpenBtn::before {
    content: "";
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
}
#toolMenuOpenBtn:hover::before {
    filter: blur(5px);
    opacity: 0.8;
    animation: animateBtn 8s linear infinite;
}

#toolMenuOpenBtn2 {
    position: absolute;
    display: none;
    z-index: 1;
    width: 60px; height: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #c4f441, #03a9f4);
    background-size: 400%;
    border-radius: 4px;
}
#toolMenuOpenBtn2::before {
    content: "";
    position: absolute;
    top: -1px; left: -1px; right: -1px; bottom: -1px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
}
#toolMenuOpenBtn2:hover::before {
    filter: blur(10px);
    opacity: 0.8;
    animation: animateBtn 8s linear infinite;
}

#toolMenuOpenBtn:hover, #toolMenuOpenBtn2:hover {
    cursor: pointer;
    animation: animateBtn 8s linear infinite;
}
#toolMenuOpenBtn:active, #toolMenuOpenBtn2:active {
    opacity: 0.9;
    box-shadow: 0 0 3px 2px black inset;
}

@keyframes animateBtn {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
}

/* /////////////////// TOOLMENU OPEN BUTTONS /////////////////// */



/* /////////////////// CANVAS /////////////////// */

#canvasContainer {
    display: flex;
    width: 95vw; height: 95vh;
    padding: 4px;
    background-image: repeating-linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #c4f441, #03a9f4);
}
#drawingCanvas, #drawingCanvas_Draft {
    width: 100%; height: 100%;
    margin: 0;
    background-color: white;
}

/* /////////////////// CANVAS /////////////////// */


@media screen and (max-width: 550px), (max-height: 400px) {
    #toolMenuOpenBtn {
        display: none;
    }
    #toolMenuOpenBtn2 {
        display: inline-block;
    }
}

